body{
    background-color:lightgreen;
}
    h1{
        color:orange;
        font-size:90px}
    h2{
        color:blue;
        font-size:60px;
        }
        #first{
            font-size:100px
        }
        .coucou{
            font-size: 12px
        }
   